.about-bg{
    background-color: #FEF4F2;
    height:85vh;
}

*{
    box-sizing: border-box;
}

.hi-there{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #0D0F16;
    margin: 0;
    padding:0;
}
.title{
    margin: 0 0 0.3rem 0;
    padding:0;
    color:#F26C4F;
}
.about-content{
    color:#0D0F16;
    font-size: 0.8rem;
}

.about-content-container{
    animation: slideRight 1s ease-in-out;
}

.about-img-container{
    animation: slideLeft 1s ease-in-out;
}

.about-img{
    border-radius: 1rem;
}

.download-resume-btn-about{
    text-decoration: none;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    color: #F87474;
    font-size: 0.9rem;
    border: 0.1rem solid #F87474;
    border-radius: .5rem;
    background-color: #FEF4F2 !important;
    padding-left: 1.5rem;
    padding-right:1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.download-resume-btn-about:hover {
    background-image: linear-gradient(90deg, rgba(79,1,1,1) 0%, rgba(242,79,79,1) 81%); /* Add your desired gradient colors */
    color: white;
    font-weight: 600;
    border: .1rem  solid white;
    transition: all 1s ease-in-out; 
    /* Add a 0s transition for the specified properties */ 
}